@import '../variables';
input:focus, textarea:focus, select:focus{
    outline: none;
}

.field-container{
    margin-top: 20px;
    padding:10px;
    border: 2px solid $color-text-dim;
    border-radius: 10px;
    transition: border-color 0.3s;
    &:focus-within, &:hover{
        border-color: $color-4;
    }
}

.form-container{
    width: clamp(500px, 80%, 1200px);
    margin:auto;
    margin-top: 30px;
}

.form-in-form-container{
    width: clamp(250px, 80%, 1000px);
}

.field_with_errors{
    display:inline;
    background-color: $color-error;
}

input, textarea{
    background-color: $color-1;
}

label {
    font-size: 1.5em;
    margin: 10px;
}
.file-field{
    display:flex;
    flex-flow:column;
    >input[type="file"]{
        font-size: 1em;
    }
}

.radio-field{
    display:flex;
    flex-flow: column;
    position:relative;
    
    >.radio-option{
        display:flex;
        align-items:center;
        >input{
            appearance:none;
            &:checked + label{
                color: $color-4;
                pointer-events: none;
            }
            &:hover + label{
                color: $color-3;
                cursor:pointer;
            }
        }
        >label{
            font-size: 1em;
            font-weight: 700;
            color: $color-text-dim;
            transition:color 0.3s;
        }
    }
}

.date-field{
    >input[type="date"]{
        appearance:none;
        border: 0px;
        font-size: 1.5em;
        transition:background-color 0.3s;
        &:hover, &:focus{
            background-color: $color-2;
        }
    }
}

.text-area-field{
    display:flex;
    flex-direction: column;
    >textarea{
        padding:10px;
        border: 2px solid $color-text-dim;
        transition: border-color 0.3s;
        &:focus{
            border-color: $color-3;
        }
    }
}
.text-field{
    display:flex;
    flex-direction: column;
    position:relative;
    &::after{
        content: '';
        position:absolute;
        bottom: 10px;
        left:0px;
        height:0px;
        width: calc(100% - 20px);
        margin: 0 10px;
        transform-origin: right center;
        transform: scale(0);
        transition: transform 0.8s;
        border-bottom: 2px solid $color-3;
    }
    > input[type="text"]{
        border: 0px;
        border-bottom: 2px solid $color-text-dim;
        font-size: 1em;
        padding: 10px;

    }
    &:focus-within::after{
        transform-origin: left center;
        transform: scale(1);
    }
}