@import '../variables';

.table{
    display:flex;
    flex-flow: column;
    margin: auto;
    width: clamp(500px, 80%, 1200px);
    align-items: center;
    >h1{
        margin-top: 40px;
    }
    >.add-button{
        margin:30px 0;
    }
}

.table-row, .table-header{
    width:100%;
    display: grid;
    &.cols-5{
        grid-template-columns: 40% repeat(4, 1fr);
    }
    &.cols-4{
        grid-template-columns: 50% repeat(3, 1fr);
    }
    &.cols-3{
        grid-template-columns: 70% repeat(2, 1fr);
    }
}

.table-cell{
    display:grid;
    white-space: nowrap;
    overflow: hidden;
    place-items:center;
    align-items: center;
    text-overflow: ellipsis;
}

.table-column{
    display:grid;
    place-items: center;
}

.list-thumbnail{
    margin: 0px 20px;
}

.table-row{
    border-bottom: thin solid $color-2;
    height: 5em;
    & > :first-child{
        display:flex;
        justify-content: left;
    }
    &:hover{
        background-color: $color-2;
    }
}

.table-header{
    place-items: center;
}



